.cont-detail-component{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    position: relative;
    width: calc(100% - 24%);
    padding-left: 12%;
    padding-right: 12%;
    margin-bottom: 150px;
    position: relative;
    .absolute{
        position: absolute;
        z-index: 2;
        left: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 50px;
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: transparent;
        }
        .back{
            font-size: 50px;
            cursor: pointer;
            color: #797979;
        }
    }
    .cont-img-banner{
        margin: 50px 0px 25px;
        width: 100%;
        height: auto;
        border-radius: 20px;
        background-color: transparent;
        img{
            border-radius: 20px;
            width: 100%;
            max-height: 300px;
        }
    }
    .hour{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        padding-top: 10px ;
        background-color: transparent;
    }
    .cont-main-title-detail{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        .cont-left-title{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: auto;
            flex-direction: column;
            .cont-title-and-stars{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                padding: 15px 0px;
                .title{
                    color :#ef4c00;
                    font-size: 25px;
                }
                .stars{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-left: 25px;
                    .icon{
                        color: #ef4c00;
                    }
                }
            }
            .reviewers{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                font-size: 15px;
                width: 100%;
                padding-bottom: 15px;
            }
        }
        .cont-favorite{
            .favorite{
                color: red;
                font-size: 35px;
                cursor: pointer;
            }
        }
    }
    .cont-labels{
        display: flex;
        flex-direction: row;
        align-items: center;
        .label{
            border-radius: 15px;
            padding: 5px 15px;
            background-color: #f6f7f8;
            margin-right: 20px;
        }
    }
    .cont-instructions{
        display: flex;
        text-align: justify;
        width: 80%;
        margin: 0 auto;
        padding: 25px 0px;

    }
}