.cont-main-home-component{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: calc(100% - 22%);
    padding-left: 12%;
    padding-right: 10%;
    .section-top-baners{
        display: flex;
        background-color: transparent;
        width: 100%;
        .cont-banners{
            width: 100%;
            padding-top: 10px;
            background-color: transparent;
            .banner{
                width: 100%;
                img{
                    width: 80%;
                }
            }
            .two{
                img{

                    border-radius: 20px;
                }
            }
        }
    }
    .section-bot{
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        .section-rigth-filters{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 20%;
            height: auto;
            background-color: transparent;
        }
        .section-main-left{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            width: 80%;
            padding-top: 25px;
            background-color: transparent;
            .cont-search{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: trans;
                .title{
                    h5{
                        color :#ef4c00;
                        font-size: 25px;
                    }
                }
                .cont-input{
                    border-radius: 100px;
                    width: 300px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    background-color: #f4f9ff;
                    input{
                        border-radius: 100px;
                        width: 100%;
                        color: rgb(82, 82, 82);
                        background-color:   #f4f9ff;
                        padding: 15px 15px ;
                        outline: none;
                        border: none  ;
                    }
                    .icon{
                        font-size: 32px;
                        padding-right: 10px;
                        cursor: pointer;
                        color :#ef4c00;
                    }
                }

            }
            .cont-categories{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                flex-direction: column;
                flex-direction: row;
                width: 100%;
                flex-wrap: wrap;
                white-space: pre-wrap;
                background-color: transparent;
                padding-top: 20px;
                .item-category{
                    padding: 10px;
                    border-radius: 100px;
                    background-color: #f4f9ff;
                    font-size: 15px;
                    margin:0px 15px 10px 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    min-width: 100px;
                    font-weight: 500;
                    transition: all 0.5s;
                    outline: none;
                    border: none;
                }
                .item-category:hover{
                    background-color: #ef4c00;
                    color: white;
                    box-shadow: 1px 1px 5px gray;
                }
                .title{
                    font-size: 18px;
                    margin-right: 15px;
                    margin-bottom: 15px;
                }
                .active{
                    background-color: #ef4c00;
                    color: white;
                }
            }
            .content-results{
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 50px;
                background-color: transparent;
                margin-top: 25px;
            }
        }
    }
}


@media only screen and (min-width: 1024px) and (max-width: 1280px) {
	.cont-main-home-component{
        display: flex;
        flex-direction: column;
        background-color: transparent;
        width: calc(100% - 22%);
        padding-left: 12%;
        padding-right: 10%;
        .section-top-baners{
            display: flex;
            background-color: transparent;
            width: 100%;
            .cont-banners{
                width: 100%;
                padding-top: 10px;
                background-color: transparent;
                .banner{
                    width: 100%;
                    img{
                        width: 74%;
                    }
                }
                .two{
                    img{
    
                        border-radius: 20px;
                    }
                }
            }
        }
        .section-bot{
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            .section-rigth-filters{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 26%;
                height: auto;
                background-color: transparent;
            }
            .section-main-left{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width: 74%;
                padding-top: 25px;
                background-color: transparent;
                .cont-search{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: transparent;
                    .title{
                        h5{
                            color :#ef4c00;
                            font-size: 25px;
                        }
                    }
                    .cont-input{
                        border-radius: 100px;
                        width: 300px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        background-color: #f4f9ff;
                        input{
                            border-radius: 100px;
                            width: 100%;
                            color: rgb(82, 82, 82);
                            background-color:   #f4f9ff;
                            padding: 15px 15px ;
                            outline: none;
                            border: none  ;
                        }
                        .icon{
                            font-size: 32px;
                            padding-right: 10px;
                            cursor: pointer;
                            color :#ef4c00;
                        }
                    }
    
                }
                .cont-categories{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: column;
                    flex-direction: row;
                    width: 100%;
                    flex-wrap: wrap;
                    white-space: pre-wrap;
                    background-color: transparent;
                    padding-top: 20px;
                    .item-category{
                        padding: 10px;
                        border-radius: 100px;
                        background-color: #f4f9ff;
                        font-size: 15px;
                        margin:0px 15px 10px 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-width: 100px;
                        font-weight: 500;
                        transition: all 0.5s;
                        outline: none;
                        border: none;
                    }
                    .item-category:hover{
                        background-color: #ef4c00;
                        color: white;
                        box-shadow: 1px 1px 5px gray;
                    }
                    .title{
                        font-size: 18px;
                        margin-right: 15px;
                        margin-bottom: 15px;
                    }
                    .active{
                        background-color: #ef4c00;
                        color: white;
                    }
                }
                .content-results{
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-gap: 50px;
                    background-color: transparent;
                    margin-top: 25px;
                }
            }
        }
    }
}

@media screen and (max-width:640px){
    .cont-main-home-component{
        display: flex;
        flex-direction: column;
        background-color: transparent;
        width: calc(100% - 12%);
        padding: 0px 6%;
        .section-top-baners{
            display: flex;
            background-color: transparent;
            width: 100%;
            .cont-banners{
                width: 100%;
                padding-top: 10px;
                background-color: transparent;
                .banner{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
                .two{
                    img{
                        border-radius: 20px;
                    }
                }
            }
        }
        .section-bot{
            display: flex;
            flex-direction: column;
            width: 100%;
            .section-rigth-filters{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                height: auto;
                background-color: transparent;
            }
            .section-main-left{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                padding-top: 25px;
                background-color: transparent;
                .cont-search{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: trans;
                    .title{
                        h5{
                            color :#ef4c00;
                            font-size: 25px;
                        }
                    }
                    .cont-input{
                        border-radius: 100px;
                        width: 300px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        background-color: #f4f9ff;
                        input{
                            border-radius: 100px;
                            width: 100%;
                            color: rgb(82, 82, 82);
                            background-color:   #f4f9ff;
                            padding: 15px 15px ;
                            outline: none;
                            border: none  ;
                        }
                        .icon{
                            font-size: 32px;
                            padding-right: 10px;
                            cursor: pointer;
                            color :#ef4c00;
                        }
                    }
    
                }
                .cont-categories{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: column;
                    flex-direction: row;
                    width: 100%;
                    flex-wrap: wrap;
                    white-space: pre-wrap;
                    background-color: transparent;
                    padding-top: 20px;
                    .item-category{
                        padding: 10px;
                        border-radius: 100px;
                        background-color: #f4f9ff;
                        font-size: 15px;
                        margin:0px 15px 10px 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-width: 100px;
                        font-weight: 500;
                        transition: all 0.5s;
                        outline: none;
                        border: none;
                    }
                    .item-category:hover{
                        background-color: #ef4c00;
                        color: white;
                        box-shadow: 1px 1px 5px gray;
                    }
                    .active{
                        background-color: #ef4c00;
                        color: white;
                    }
                }
                .content-results{
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 50px;
                    background-color: transparent;
                    margin-top: 25px;
                }
            }
        }
    }
}

@media screen and (max-width:450px){
    .cont-main-home-component{
        display: flex;
        flex-direction: column;
        background-color: transparent;
        width: calc(100% - 12%);
        padding: 0px 6%;
        .section-top-baners{
            display: flex;
            background-color: transparent;
            width: 100%;
            .cont-banners{
                width: 100%;
                padding-top: 10px;
                background-color: transparent;
                .banner{
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
                .two{
                    img{
                        border-radius: 20px;
                    }
                }
            }
        }
        .section-bot{
            display: flex;
            flex-direction: column;
            width: 100%;
            .section-rigth-filters{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 100%;
                height: auto;
                background-color: transparent;
            }
            .section-main-left{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                padding-top: 25px;
                background-color: transparent;
                .cont-search{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    background-color: transparent;
                    .title{
                        h5{
                            color :#ef4c00;
                            font-size: 25px;
                        }
                    }
                    .cont-input{
                        border-radius: 100px;
                        width: 100%;
                        margin-top: 15px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        background-color: #f4f9ff;
                        input{
                            border-radius: 100px;
                            width: 100%;
                            color: rgb(82, 82, 82);
                            background-color:   #f4f9ff;
                            padding: 15px 15px ;
                            outline: none;
                            border: none  ;
                        }
                        .icon{
                            font-size: 32px;
                            padding-right: 10px;
                            cursor: pointer;
                            color :#ef4c00;
                        }
                    }
    
                }
                .cont-categories{
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    flex-direction: column;
                    flex-direction: row;
                    width: 100%;
                    flex-wrap: wrap;
                    white-space: pre-wrap;
                    background-color: transparent;
                    padding-top: 20px;
                    .item-category{
                        padding: 10px;
                        border-radius: 100px;
                        background-color: #f4f9ff;
                        font-size: 15px;
                        margin:0px 15px 10px 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-width: 100px;
                        font-weight: 500;
                        transition: all 0.5s;
                        outline: none;
                        border: none;
                    }
                    .item-category:hover{
                        background-color: #ef4c00;
                        color: white;
                        box-shadow: 1px 1px 5px gray;
                    }
                    .active{
                        background-color: #ef4c00;
                        color: white;
                    }
                }
                .content-results{
                    width: 100%;
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-gap: 15px;
                    background-color: transparent;
                    margin-top: 25px;
                }
            }
        }
    }
}